@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Color="Color.Primary">
        <MudText Typo="Typo.body2" Class="ml-4">
            © @DateTime.Now.Year Hotel Management System
        </MudText>
    </MudAppBar>

    @*  <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Color="Color.Default">
        <MudNavLink Href="room/view" Icon="home" Match="NavLinkMatch.All">
            Rooms
        </MudNavLink>
        <button Icon="home" Match="NavLinkMatch.All" @onclick="Logout">
            Logout
        </button>
    </MudDrawer> *@

    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Color="Color.Default">
        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">
            Rooms
        </MudNavLink>
        <MudButton OnClick="Logout" StartIcon="@Icons.Material.Filled.Logout" Color="Color.Default">
            Logout
        </MudButton>
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pa-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    public async Task Logout()
    {
        // Clear the token from localStorage
        await JS.InvokeVoidAsync("localStorage.removeItem", "authToken");

        // Navigate to the logi page
        _goto.NavigateTo("/login", forceLoad: true);
    }
}