@page "/admin-chat"
@inject ChatService _chatService

<h3>Admin Chat</h3>

<MudItem Class="mt-3">
    @foreach (var msg in Messages)
    {
        <MudItem>
            <MudText Typo="Typo.body1">
                <strong>@msg.SenderType (@msg.User) :</strong> @msg.Text
            </MudText>
        </MudItem>
    }
    @if (typingUsers.Any())
    {
        <div>
            @string.Join(", ", typingUsers) is typing...
        </div>
    }
</MudItem>

<input Class="mt-2" @oninput="NotifyTyping" @bind-value="Message" placeholder="Type a message" />

<MudButton Class="mt-2" OnClick="SendMessage" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Margin="Margin.Dense">
    Send
</MudButton>