@page "/admin-chat"
@inject ChatService _chatService

<h3>Admin Chat</h3>

<MudItem Class="mt-3">
    @foreach (var msg in Messages)
    {
        <MudItem>
            <MudText Typo="Typo.body1">
                <strong>@msg.SenderType (@msg.User) :</strong> @msg.Text
            </MudText>
        </MudItem>
    }
</MudItem>

<MudTextField Class="mt-2" @bind-Value="Message" Label="Type a message..." Variant="Variant.Outlined" Multiline="true" Rows="4" FullWidth="true" Margin="Margin.Dense" />

<MudButton Class="mt-2" OnClick="SendMessage" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Margin="Margin.Dense">
    Send
</MudButton>